body{
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    font-family: sans-serif;
    color: #4169E1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header{
    padding-top: 1%;
    padding-right: 3%;
    z-index: 2;
    font-size: medium;
}

.logo{
    height: 100px;
    width: 100px;
}

.nav-link {
    text-decoration: none;
    color: #4169E1;
}

.carousel{
    border-radius: 25px;
    overflow: hidden;
    margin-right: 3%;
}

.carousel-image{
    width: 100%;
    height: 300px;
}

#carouselExampleFade{
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;    
}

.card{
    padding: 1.5%;
    color: black;
}

.card-grid{
    padding: 1%;
    box-shadow: 20%;
    width: 50%;
}

.card-icon{
    font-size: 250%;
}

.card:hover {
    background-color: #4169E1;
    color: white;
    
}

.card-link{
    text-decoration: none;
}

.horizontal-line{
    width: 95%;
    color: grey;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 1%;
}
.navbar-brand {
    display: flex;
    /* position: absolute;    */
}

.navbar-header {
    padding-top: 0%;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    /* background-position: right top; */
}
.navbar-brand img {
    vertical-align: top;
    /* padding: 10px; */

}
